<div class="wrap">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="icon_avatar">
                <mat-icon>{{cardHead.icon}}</mat-icon>
            </div>
            <mat-card-title>{{cardHead.title}}</mat-card-title>
            <mat-card-subtitle>{{cardHead.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>La tipografía definida para las plataformas LOGYCA es Museo </p>
            <p>ABCDEFGHIJKLMNÑOPQRSTUVWXYZ</p>
            <p>abcdefghijklmnñopqrstuvwxyz</p>
            <p>1234567890°!"#$%&/()=?¡¨*][_:</p>
        </mat-card-content>
        <mat-card-content>
            <div class="actionButton">
                <form action="../../assets/docs/health_con_token.json?token=XXIXIXKXKXKXIKI" method="get"
                    target="_blank">
                    <button mat-stroked-button type="submit">
                        <span class="material-icons">
                            file_download
                        </span>
                        Descargar fuente
                    </button>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>