// Paleta de colores

//Colores neutro
$black: rgb(0, 0, 0);
$white: #fff;

//Paleta de color LOGYCA
$logyca-blue-light: #7ED4C3;
$logyca-blue-regular: #00B398;
$logyca-blue-dark: #00765B;
$logyca-orange-light: #FF895C;
$logyca-orange-regular: #FC4C02;
$logyca-orange-dark: #C82E00;
$logyca-grey-light: #E6E6E6;
$logyca-grey-regular: #51534A;
$logyca-grey-dark: #14150B;


// Grises

$grey-header: #E5E7E9;
$grey-backGround: #EFEFEF;



//paleta de color de la aplicacion
$orange-light: rgb(255, 197, 72);
$orange-regular: #ffa300;
$orange-dark: rgb(255, 94, 0);
$blue-light: rgb(79, 185, 255);
$blue-regular: #0071bc;
$blue-hue: #5499c7;
$blue-dark: rgb(1, 82, 136);
$red-light: rgb(255, 130, 130);
$red-regular: #ff0000;
$red-hue: #ff4747;
$red-hue-dark: #b03a2e;
$red-dark: rgb(196, 0, 0);
$green-light: #8cc63f;
$green-regular: #009245;
$green-dark: #005226;
$yellow-light: rgb(252, 255, 59);
$yellow-regular: #ffce00;
$yellow-dark: rgb(207, 166, 0);
$grey-light: rgb(202, 202, 202);
$grey-extra-light: rgba(238, 238, 238, 1);
$grey-regular: #636363;
$grey-dark: rgb(26, 26, 26);

/*complementarios*/

$warn:#FC0234;
$warn-light:#F76A75;
$warn-dark:#D00017;
$success:#1CC200;
$success-light:#A1E196;
$success-dark:#007000;
$caution:#FCCA02;
$caution-light:#FDE07C;
$caution-dark:#FF8D00;
$info:#02B1FC;
$info-light:#B4E8FE;
$info-dark:#007EC5;

/* Silver */
$silver: #bdc3c7;
$silver-50: #f8f9f9;
$silver-100: #f2f3f4;
$silver-200: #e5e7e9;
$silver-300: #d7dbdd;
$silver-400: #cacfd2;
$silver-500: #bdc3c7;
$silver-600: #a6acaf;
$silver-700: #909497;
$silver-800: #797d7f;
$silver-900: #626567;

