<div class="wrap">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="icon_avatar">
                <mat-icon>{{cardHead.icon}}</mat-icon>
            </div>
            <mat-card-title>{{cardHead.title}}</mat-card-title>
            <mat-card-subtitle>{{cardHead.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="sectionSubtitle">¿Cómo debo nombrar las variables?</div>
            <p>
                Use nombres que revelen la intención y no se preocupe si tiene nombres de variables largos.
            </p>
            <mat-card-content>
                <div class="mapImg">
                    <img src="../../assets/functionName.jpg">
                </div>
            </mat-card-content>
            <div class="sectionSubtitle">¿Cómo debo escribir mis funciones?</div>
            <p>
                Las funciones deben hacer una sola cosa. Deberían hacerlo bien. Deberían hacerlo solo eso. Robert C. Martín.
            </p>
            <mat-card-content>
                <div class="mapImg">
                    <img src="../../assets/functionDeclaration.jpg">
                </div>
            </mat-card-content>
            <div class="sectionSubtitle">¿Cómo debo llamar mis funciones?</div>
            <p>
                A function name should be a verb or a verb phrase, and it needs to communicate its intent, as well as the order and intent of the arguments.
            </p>
            <mat-card-content>
                <div class="mapImg">
                    <img src="../../assets/howFunctionName.jpg">
                </div>
            </mat-card-content>
            <div class="sectionSubtitle">¿Cómo escribir una buena función asíncrona?</div>
            <p>
                Usa Promesas siempre que puedas.
            </p>
            <mat-card-content>
                <div class="mapImg">
                    <img src="../../assets/howFunctionNameAzync.jpg">
                </div>
            </mat-card-content>
        </mat-card-content>
    </mat-card>
</div>
