/* You can add global styles to this file, and also import other style files */

@import "globalStyle/variable.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: museo;
    src: url(assets/font/MuseoSans.otf) format("opentype");
  }

body {
    font-family: museo !important ;
    background-color: $grey-backGround;
    color: $logyca-grey-regular;
    width: 100%;
    height: 100%;
    margin: 0;
}

.wrap{
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
