<div class="wrap">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="icon_avatar">
                <mat-icon>{{cardHead.icon}}</mat-icon>
            </div>
            <mat-card-title>{{cardHead.title}}</mat-card-title>
            <mat-card-subtitle>{{cardHead.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Agrupar componentes y piezas de la aplicación que tienen sentido entre sí, los módulos tienen varios objetivos entre ellos el encapsulamiento de funcionalidades y la carga perezosa (Lazy load) además de que asegura el escalar la aplicación de manera ordenada.
            </p>
            <mat-card-content>
                <div class="mapImg">
                    <img src="../../assets/modules.jpg">
                </div>
            </mat-card-content>
            
        </mat-card-content>
    </mat-card>
</div>
