.wrap{
    mat-card{
        mat-card-content{
            .mapImg{
                img{
                    width: 30%;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .wrap{
        mat-card{
            mat-card-content{
                .mapImg{
                    img{
                        width: 50%;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .wrap{
        mat-card{
            mat-card-content{
                .mapImg{
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}